@media (max-width: 768px) {
    .navbar-brand.lpages {
        margin-left: 0px;
    }
}
.nav {
    background-color: #D93221;
}
.jumbotron {
    background-image: url(/public/assets/img/bg.jpg);
    background-size: cover;
    height: 545px;
}
.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 120px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 50%;
    }
}

/* about */
.img-area img{
    width: 100% I !important;
}
.about-text h2{
    font-size: 45px;
    font-weight: 700;
    color: black;
}
.about-text .btn{
    background: #D93221;
    color: white;
    border-radius: 30px;
}
.text-container{
    margin-top: 125px;
}

/* court */
#court{
    background-color: #D93221;
    padding: 10px 0;
}
.card-body {
    padding: 25px;
    margin-top: 15px;
}
.footer.lpages {
    background-color: #D93221;
}