.text-red:hover,
.text-red {
    color: #D93221;
}

.sidebar{
    width: 16rem;
}
.sidebar-toogle {
    cursor: pointer;
}
.sidebar-toogle:hover{
    color: #D93221;
}
#sidebar-wrapper{
    background: rgb(235, 235, 235);
}

.SideBarbtnClose {
    display: none;
}

@media (max-width: 767px) {
    .sb-sidenav-toggled .SideBarbtnClose {
        display: block;
        position: absolute;
        margin-left: 250px;
        margin-top: -5px;
        color: white;
        font-size: 20px;
        z-index: 2001;
        cursor: pointer;
        font-weight: bold;
    }
}